<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.umki.todo.dao.TodolistDao">

<select id="getInfo" resultType="TodolistVO">
	select * from umki_database.todolist
</select>

<insert id="insertInfo">
	insert into todolist (`content`) values (#{content})
</insert>

</mapper>